.about-us{
    margin-top: 100px;
    .user-card {
        border: 0.1rem solid rgb(232, 232, 232);
        box-shadow: rgba(28, 28, 28, 0.12) 0 0.4rem 1.8rem;
        padding: 10px;
        margin-top: 10px;
    }
}